.DS_Store
node_modules/
dist/static
dist/Cesium/Widgets
dist/Cesium/Workers
dist/Cesium/Cesium.js
dist/Cesium/ThirdParty
dist/Cesium/Assets/IAU2006_XYS
dist/Cesium/Assets/Textures
dist/Cesium/Assets/approximateTerrainHeights.json
dist/app.js
dist/index.html
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
README.md
.vscode
